.chart-view {
	min-height: 30vh;

	text-align: center;
}

.tb-view {
	min-height: 30vh;
	display: flex;
	align-items: center;
}
.chart-tagline {
	display: inline-flex;
	justify-content: space-between;
}

.chart-tagline__box {
	width: 30px;
	height: 13px;
	margin-top: 6px;
}

@media only screen and (max-width: 768px) {
	.chart-view {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.tb-view {
		margin-bottom: 2rem;
	}
}

.piechart {
	margin: auto;
}
