body {
	background: #bcc0dd;
	color: #303971;
}
h1 {
	font-size: 3rem;
	font-weight: 500;
}
h2 {
	font-size: 3rem;
	font-weight: 700;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
